<!doctype html>
<html lang="<%- config.language %>" class="no-js">
<%- partial('parts/site/head') %>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">

<!-- #main-container -->
<div id="main-container">
    <%- partial('parts/site/header') %>

    <!-- #wraper -->
    <div id="wraper" class="container">
        <div class="row">
            <%- body %>
        </div>
    </div>
    <!--/#wraper -->

    <%- partial('parts/site/footer') %>
</div>
<!--/#main-container -->

<%- partial('parts/site/foot') %>
</body>
</html>