<!-- #post-<%= post._id %> -->
<article class="post-card <%- post.has_thumb ? 'card-with-image' : '' %> <%- post.color ? post.color : '' %>"
         id="post-<%= post._id %>"
         itemprop="blogPost"
         itemscope="itemscope"
         itemtype="http://schema.org/BlogPosting">

    <div class="card-body">

        <header class="card-header" itemprop="image">
            <h3 class="card-title" itemprop="headline">
                <a href="<%- post.permalink %>" title="<%= post.title %>">
                    <%= post.title %>&nbsp;
                </a>
            </h3>

            <span class="card-icon">
                <i class="fa fa-<%- post.icon === undefined ? 'pencil' : post.icon %>"></i>
            </span>

            <% if (post.has_thumb) { %>
            <a href="<%- post.permalink %>" title="<%= post.title %>">
                <img src="/<%= post.path %>thumb.png"
                     alt="<%= post.title %>"
                     class="card-image">
            </a>
            <% } %>
        </header>

        <footer class="card-footer">
            <ul class="card-meta">
                <li class="post-date">
                    <i class="fa fa-calendar"></i>
                    <time datetime="<%- post.date %>" itemprop="datePublished">
                        <%- ToPersianDigit(jmoment(post.date).fromNow()) %>
                        <%- __('at') %>
                        <%- ToPersianDigit(jmoment(post.date).format('dddd jDo jMMMM, jYYYY')) %>
                    </time>
                </li>

                <% if (post.categories.length > 0) { %>
                <li class="post-categories">
                    <i class="fa fa-folder"></i>
                    <%- list_categories(post.categories, {
                        show_count: false,
                        class: 'post-category',
                        style: 'none',
                        separator: ', '
                    }) %>
                </li>
                <% } %>

                <% if (post.tags.length > 0) { %>
                <li class="post-categories">
                    <i class="fa fa-tag"></i>
                    <%- list_tags(post.tags, {
                        show_count: false,
                        class: 'post-category',
                        style: 'none',
                        separator: ', '
                    }) %>
                </li>
                <% } %>
            </ul>

            <div class="card-text" itemprop="text">
                <%- post.excerpt %>
            </div>

            <a href="<%- post.permalink %>" title="<%= post.title %>" class="card-btn"><%- __("Read more") %></a>
        </footer>

    </div>

</article>
<!--/#post-<%= post._id %> -->