<aside id="widget-about-me" class="widget widget-about-me">
    <div class="widget-body modern-boxed">
        <!-- .about-header -->
        <div class="about-header">
            <div class="logo">
                <a href="<%- site.data.profile.read_more %>" title="<%- site.data.profile.title %>">
                    <img src="<%- site.data.profile.avatar %>" alt="<%- site.data.profile.title %>"/>
                </a>
            </div>
        </div>
        <!--/.about-header -->

        <% if (site.data.profile.about !== undefined ) { %>
        <div class="about-content">
            <p><%- site.data.profile.about %></p>
            <a href="<%- site.data.profile.read_more %>" title="<%- site.data.profile.title %>">ادامه&hellip;</a>
        </div>
        <% } %>

        <%- partial('parts/section/social-links') %>
    </div>
</aside>